---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `

GEO - Przyszłość widoczności online
Zoptymalizuj swoją firmę pod ChatGPT, Claude i Google AI. Bo Twoi klienci już nie googlują - pytają AI.

`;
---

<Layout title="Welcome to Vanity Projects.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Vanity Projects</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    
</Layout>
