---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://vanityprojects.pl/" class="decoration-dashed text-primary underline-offset-8"> Vanity Projects (c) 2025 </a>
    </p>
</footer>
